nav {
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 10vh;
    position: relative;
    span {
        height: 10vh;
        line-height: 10vh;
    }
    ul {
        display: inline;
        padding: 0;
        margin-top: 0;
        position: absolute;
        right: 2em;
        li {
            list-style: none;
            display: inline; 
            height: 10vh;
            line-height: 10vh;

            i {
                color: #ffffff;
            }
            a {
                text-decoration: none;
                color: #ffffff;
                margin-left: 1.2em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
    }
}