.testimonials {
    background-color: #000000;
    margin-top: 20vh;
    color: #ffffff;

    h3 {
        text-align: center;
        margin: 0 0 10vh 0;
        padding-top: 2em;
        font-family: 'Teko', sans-serif;
        font-weight: lighter;
        font-size: 2em;
    }

    .testimonial-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 30vh;

        .testimonial {
            width: 30%;
            background-color: #ffffff;
            color: #000000;
            padding: 0.5em;
            height: 60vh;
            position: relative;
            text-align: center;
            padding: 2em;
            box-sizing: border-box;
            -webkit-box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.55);
            -moz-box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.55);
            box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.55);

            svg {
                color: #000080;
            }

            h4 {
                font-family: 'Teko', sans-serif;
                font-weight: lighter;
                font-size: 1.5em;
            }

            p {
                font-family: 'Mada', sans-serif;
                font-size: 1.2em;
            }

            [down] {
                position: absolute;
                bottom: 2em;
                width: 100%;
                right: 0;

                [name] {
                    font-weight: bold;
                }

                [name], [company] {
                    width: 100%;
                   text-align: center;
                }
            }
        }
    }
}