<div class='bio'>
    <div class='bio-left'>
        <figure>
            <%=image_tag("people.png")%>
        </figure>
    </div>
    <div class='bio-right'>
        <h2>Hi, I am Maggie, a Skilled Administrative Support Professional</h2>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font </p>
        <button>Read more</button>
    </div>
</div>