<div class='categories'>
    <h3>What Can I Do For You?</h3>
    <p> Our team made up of diverse individuals offer services that fall under the following categories</p>
    <%= render 'category_list', categories: categories %>
    <buttton class='see-price'>See Pricing</buttton>
</div>