<div class="chat-cont">
    <h1>Chat room</h1>

    <div id="messages">=
        <% @room_messages.each do |room_message| %>
            <%= render room_message %>
        <% end %>
    </div>

    <form>
    <label>Say something:</label><br>
    <input type="text" data-behavior="room_speaker">
    </form>
</div>