<div class='testimonials'>
    <h3>Trusted by Companies and Entrepreneurs
    Throughout the Country</h3>
    <div class='testimonial-container'>
        <div class='testimonial'>
            <i class="fas fa-quote-left"></i>
            <h4>Organized and Efficient</h4>
            <p>“I have not come accross any online support platform that is matches Virtual Assistant in terms of organisation and efficiency״</p>
            <div down>
                <div name>John Doe</div>
                <div company>Beltok</div>
            </div>
        </div>
        <div class='testimonial'>
            <i class="fas fa-quote-left"></i>
            <h4>Organized and Efficient</h4>
            <p>“I have not come accross any online support platform that is matches Virtual Assistant in terms of organisation and efficiency״</p>
            <div down>
                <div name>John Doe</div>
                <div company>Beltok</div>
            </div>
        </div>
        <div class='testimonial'>
            <i class="fas fa-quote-left"></i>
            <h4>Organized and Efficient</h4>
            <p>“I have not come accross any online support platform that is matches Virtual Assistant in terms of organisation and efficiency״</p>
            <div down>
                <div name>John Doe</div>
                <div company>Beltok</div>
            </div>
        </div>
    </div>
</div>