<nav>
    <span logo> Virtual Assistant </span>
    <ul>
        <li>
            <a href='#'>Home</a>
        </li>
        <li>
            <a href='#'>Services and Pricing</a>
        </li>
        <li>
            <a href='#'>About</a>
        </li>
        <li>
            <a href='#'>Contact</a>
        </li>
        <li icons>
            <a href='#'><i class="fab fa-facebook-f"></i></a>
            <a href='#'><i class="fab fa-linkedin-in"></i></a>
            <a href='#'><i class="fab fa-instagram"></i></a>
        </li>
    </ul>
</nav>